.Contact {
  text-align: center;
  line-height: 0;
}

.aboutMeHeader {
  text-align: center;
  padding-top: 5rem;
}
.sections {
  margin-bottom: 5vh;
}
.Me {
  height: 50vh;
  float: left;
  padding-right: 1rem;
}
.family {
  float: right;
  height: 50vh;
  padding: 1rem;
}

img {
  max-width: 100%;
}
.button {
  background-color: transparent;
  border: solid #45a29e 1px;
  color: #45a29e;
}
.button:hover {
  background-color: #45a29e;
  border: solid #0b0c10 1px;
  color: #0b0c10;
}
