body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(229, 249, 250);
  color: rgb(50, 70, 81);
}
#white {
  color: white;
}
img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(50, 70, 81);
}
.TopHeader {
  width: 100%vw;
  padding: 2rem;
}

.btn-round {
  border-radius: 10rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.quote {
  position: relative;
  background-color: rgb(181, 231, 232);
  height: 100%;
}
#white {
  color: white;
}
