.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
    height: 100vh;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 
  .menu{
      position: relative;
      top: 0;
      left: 0;
      cursor: pointer;
  }
  .button{
    border: none;
    background-color: transparent;
    width: 10vw;
  }
  .button:hover{
    background-color: black;
    color: white;
  }
  body{
    background-color:#f2f2f5;
  }
  img{
    max-width: 100%;
  }
  .imgTK{
    position: relative;
   
    margin-left: -4rem;
    height: 20rem;
   margin-top: 2rem;
    
  }
  .rightDivTK{
    background-color: transparent;
    border-left:white solid 2px;
    border-top: white solid 2px;
    
  }
  .textTK{
    position: relative;
  
    color: white;
    margin-top: 15rem;
    margin-left: 3rem;
    margin-right: 5rem;
  }
  .leftDivTK{
    background-color: transparent;
    border-top: white solid 2px;
  }
.testDivTK{
  background-color: black;
  padding: 3rem;
  margin-left: -6rem;
  margin-top: 1rem;

  margin-bottom: 3rem;
  color: white;
}
.TuesKnights{
  background-image: radial-gradient(at bottom left, lightgrey, black);
  padding: 2rem;
}
.textTestTK{
  text-align: center;
 
  
}
.freeBTN{
  background-color: rgba(196, 184, 183, .7);
  width: 45%;
  border-radius: 10%;;
}

.rightDivPH{
  background-color: transparent;
  border-top: #fffc00 solid 2px;
  border-left: #fffc00 solid 2px;
}
.leftDivPH{
  background-color: transparent;
  border-top: #fffc00 solid 2px;
}
.textPH{
  position: relative;
  margin-top: 15rem;
  margin-left: 3rem;
  margin-right: 5rem;
  color: navy;
}
.PoconoHybrid{
  background-image: radial-gradient(at bottom left, #fffc00, navy);
  padding: 2rem;
}
.testTestPH{
  text-align: center;
}
.testDivPH{
  background-color: navy;
  padding: 3rem;
  margin-left: -6rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #fffc00;
}
.rightDivBD{
  background-color: transparent;
  border-top: lightblue solid 2px;
  border-left:lightblue solid 2px;
}
.leftDivBD{
  background-color: transparent;
  border-top: lightblue solid 2px;
}
.textBD{
  position: relative;
  color: lightblue;
  margin-top: 15rem;
  margin-left: 3rem;
  margin-right: 5rem;
}
.BlueDoor{
  background-image: radial-gradient(at bottom right, black, lightblue);
  padding: 2rem;

 

}
.imgBD{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}
.testDivBD{
  background-color:lightblue;
  padding: 3rem;
  margin-left: -6rem;
  margin-top: 1rem;
 
  color:black;
}
.GameSec{
  background-image: radial-gradient(at top left, #f0e6cc,#7d6113);
}
.Games{
  border-left: black solid 2px;

}
.gamesHeader{

}
.gameGroup{
  padding: 2rem;
}
.quote{
  width: 50%;
  margin-left: 40%;
  background-color: lightslategrey;
  padding: 4rem;
  color: white;
  font-weight: 500;
}


