
.button{
  border: none;

}
.button:hover{
  background-color: black;
  color: white;
}
  body{
    background-color:#f2f2f5;
  }
  img{
    max-width: 100%;
  }
  .imgTK{
    position: relative;
   
    margin-left: -4rem;
    height: 20rem;
   margin-top: 2rem;
    
  }
  .imgPH{
    position: relative;
   
  
    height: 20rem;
   margin-top: 2rem;
    
  }
  .rightDivTK{
    background-color: transparent;
    border-left:white solid 2px;
    border-top: white solid 2px;
    
  }
  .textTK{
    position: relative;
  
    color: white;
    margin-top: 15rem;
    margin-left: 3rem;
    margin-right: 5rem;
  }
  .leftDivTK{
    background-color: transparent;
    border-top: white solid 2px;
  }
.testDivTK{
  background-color: black;
  padding: 3rem;
  margin-left: -6rem;
  margin-top: 1rem;

  margin-bottom: 3rem;
  color: white;
}
.TuesKnights{
  background-image: radial-gradient(at bottom left, lightgrey, black);
  padding: 2rem;
}
.textTestTK{
  text-align: center;
 
  
}
.freeBTN{
  background-color: rgba(196, 184, 183, .7);
  width: 45%;
  border-radius: 10%;;
}

.rightDivPH{
  background-color: transparent;
  border-top: #fffc00 solid 2px;
  border-left: #fffc00 solid 2px;
}
.leftDivPH{
  background-color: transparent;
  border-top: #fffc00 solid 2px;
}
.textPH{
  position: relative;
  margin-top: 15rem;
  margin-left: 3rem;
  margin-right: 5rem;
  color: navy;
}
.PoconoHybrid{
  background-image: radial-gradient(at bottom left, #fffc00, navy);
  padding: 2rem;
}
.testTestPH{
  text-align: center;
}
.testDivPH{
  background-color: navy;
  padding: 3rem;
  margin-left: -6rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #fffc00;
}
.rightDivBD{
  background-color: transparent;
  border-top: lightblue solid 2px;
  border-left:lightblue solid 2px;
}
.leftDivBD{
  background-color: transparent;
  border-top: lightblue solid 2px;
}
.textBD{
  position: relative;
  color: lightblue;
  margin-top: 15rem;
  margin-left: 3rem;
  margin-right: 5rem;
}
.BlueDoor{
  background-image: radial-gradient(at bottom right, black, lightblue);
  padding: 2rem;

 

}
.imgBD{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 90%;
}
.testDivBD{
  background-color:lightblue;
  padding: 3rem;
  margin-left: -6rem;
  margin-top: 1rem;
 
  color:black;
}
.GameSec{
 
  padding-bottom: 2rem;
  margin-top: 2rem;
  color: white;
  
}
.firstOne{
  background-image: radial-gradient(at top left, Blue, black);
  padding: 1rem;
  font-weight: 500;
}
.firstTwo{
  background-image: radial-gradient(at top left, white, black);
  color: black;
  font-weight: 500;
}
.firstThree{
  background-image: radial-gradient(at top left, yellow, black);
  color: navy;
  font-weight: 500;
}
.Games{
  position: relative;
  border:  solid #f2f2f5 4px;
}

.gamesHeader{
  text-align: right;

}
.gameGroup{
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  position: relative;
  
}
.quote{
  position: relative;
  width: 50%;
  margin-left: 40%;
  background-color: teal;
  padding: 4rem;
  color: white;
  font-weight: 500;
  outline: 2px solid white;
  outline-offset: -.5rem;

}

.GameImg{
  height: 20vh;
}
body{
  font-family: 'Questrial', sans-serif;
}


.box-quote{
  margin: 1rem;
}
.port{
  font-family: 'Merriweather', serif;
  font-weight: 500;
  font-size: 3rem
}
.freelanceStuff{
  margin-bottom: 5rem;
}
.FreeSec{
  margin-bottom: .5rem;
  margin-top: .5rem;
}
.gameBtn{
  margin-bottom: 2rem;
}