.strSec {
  margin-top: 2rem;
  margin-bottom: 2rem;
  background-color: white;
}
.black {
  color: black;
}
#black {
  color: black;
}
img {
  max-width: 100%;
}
.Header {
  border-bottom: rgb(50, 70, 81) solid 4px;
  width: 75%;
}
.contract {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.testimg {
  display: block;
  height: 10rem;
  margin-right: auto;
  margin-left: auto;
}
.bec {
  display: block;
  height: 20rem;
  margin-right: auto;
  margin-left: auto;
}
.college {
  height: 25rem;
}
.strayerDeg {
  text-align: right;
  padding-top: 2rem;
}
.vcuDeg {
  padding-top: 2rem;
}
.testLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 6rem;
}
.testSec {
  position: relative;
  color: black;
  padding: 5rem;
}
.onlineCourses {
  background-image: linear-gradient(to bottom, rgb(3, 203, 226), black);
  color: white;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.Stcollege {
  width: 100%;
}
.vcuSec {
  position: relative;
  background-color: rgb(252, 185, 19);
  z-index: -1;
  color: black;
}

.exHeading {
  text-align: center;
  text-decoration: underline;
}
.freelance {
  padding: 3rem;
  border: black solid 2px;
  border-radius: 1%;
  text-align: center;
  height: 100%;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
}
.contractHeading {
  text-align: center;
}

.LDLang {
  text-align: right;
}

body {
  font-family: 'Roboto', sans-serif;
}
.portBanner {
  background-image: url('assets/Education.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.green {
  color: rgb(3, 203, 226);
}
